NEXT_PUBLIC_SUPABASE_URL=https://zvwclezlthvlniyytdef.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2d2NsZXpsdGh2bG5peXl0ZGVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA0Mzg2MzMsImV4cCI6MjEwNjAxNDYzM30.1h060tvE88xrJqdhLSb3qgdlFd78hWYIlrpaVXYMQMI
NEXT_PUBLIC_UPI_ID=6305527319@yescred
NEXT_PUBLIC_UPI_PAYEE_NAME=Sri Ramanavami Committee
